.skillHeader {
    text-align: center;
}

.skillGrid {
    display: flex;
    gap: 30px;
    width: 800px;
    background: linear-gradient(rgb(95, 94, 94), rgba(0,0,0,.2));
    padding: 50px;
    border-radius: 25px;
    margin-top: 25px;
}

.skillGrid img {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: rotate(-5deg);
    transition: all .1s;
}

.skillGrid img:hover {
    transform: rotate(0deg);
    box-shadow: 5px 5px 5px rgba(255,255,255,0.7);
}

.essentialGridContainer {
    margin-top: 40px;
    width: 800px;
    background: linear-gradient(rgb(95, 94, 94), rgba(0,0,0,.2));
    border-radius: 25px;
    padding: 20px 25px 50px 25px ;
}

.essentialGridContainer h3 {
    padding: 5px 25px;
    text-align: center;
    width: 500px;
    background: rgb(78, 77, 77);
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0,0,0,1)
}

.essentialGrid {
    display: flex;
    gap: 30px;
    width: max-content;
    padding: 10px;
    margin-top: 20px;
}

.essentialGrid img {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: rotate(-5deg);
    transition: all .1s;
}

.essentialGrid img:hover {
    transform: rotate(0deg);
    box-shadow: 5px 5px 5px rgba(255,255,255,0.7);
}

@media (min-width: 375px) and (max-width: 667px) {
    .skillGrid {
        width: 80vw;
        gap: 10px;
    }

    .skillGrid img {
        width: 80px;
    }

    .essentialGridContainer {
        width: 80vw;
    }

    .essentialGridContainer h3 {
        width: 90%;
    }

    .essentialGrid img {
        width: 80px;
    }
}